@use 'base/variables' as v;
@use 'base/mixins' as m;
//darkMode con scss
@media(prefers-color-scheme:dark){
    $grisOscuro: #2C2C3B;
    body{
        background-color: $grisOscuro;
    }
    .tagline, 
    .formulario label,
     .login .acciones a,
     .crear .acciones a,
     .olvide .acciones a{
        color: v.$blanco;
    }
    .descripcion-pagina, 
    .formulario .campo input,
    .nombre-pagina{
        color: darken($color: v.$grisClaro, $amount: 15%);
    }
    .formulario .campo input{
        background-color:lighten($color: $grisOscuro, $amount: 15%);
        &::placeholder{
          color: darken($color: v.$grisClaro, $amount: 20%);
        }
    }
    .alerta .error{
        background-color: v.$blanco;
    }

    .sidebar{
    @include m.tablet{ 
         background-color: darken($grisOscuro, 5%);
    }
    .sidebar-nav a{
             &.activo,
             &:hover{
                background-color: v.$naranja;
             }
    }
}
    .barra-mobile, .barra{
        background-color: darken($color: $grisOscuro, $amount: 7%);
    }
    .barra {
        p{
        color: v.$naranja;
         span{
            color: v.$grisClaro;
            }
        }
        .cerrar-sesion{
            @include m.boton(v.$naranja, v.$blanco)
        }
    }
    .dashboard{
        background-color: $grisOscuro;
         .enlace{
            color: v.$grisClaro;
            text-decoration: underline;
            &:hover{
                color: darken($color: v.$grisClaro, $amount: 20%);
            }
         }
        .formulario  input:not([type="submit"]){
            background-color: lighten($color: $grisOscuro, $amount: 20%);
            color: v.$blanco;
            &::placeholder{
                color: darken($color: v.$grisClaro, $amount: 30%);
            }
        }
    }
    .filtros{
        background-color: lighten($color: $grisOscuro, $amount: 10%);
        h2, label{
            color: v.$blanco;
        }
        input[type="radio"]{
            accent-color: v.$naranja;
        }
    }
    .listado-proyectos .proyecto{
        background-color: lighten($color: $grisOscuro, $amount: 20%);
        &:hover{
            background-color: lighten($color: $grisOscuro, $amount: 10%);
        }
        .listado-tareas .tarea{
            background-color: lighten($color: $grisOscuro, $amount: 10%);
           border: none;
            p{
                color: v.$grisClaro;
            }

        }
    }

    //Modal
    .modal .formulario{
        background-color: $grisOscuro;
        input[type="text"]{
            background-color: lighten($color: $grisOscuro, $amount: 20%);
            border: none;
            color: v.$blanco;
            &::placeholder{
                color: darken($color: v.$grisClaro, $amount: 20%);
            }
        }
        legend{
            color: v.$grisClaro;
        }
    }
}